<%= link_to 'New user', new_user_path, :class => "btn btn-primary" %>
<h1>Listing Users</h1>
 
<table>
  <tr>
    <th>User Name</th>
  </tr>
 
  <% @users.each do |user| %>
    <tr>
      <td><i></b><%= user.user_name %></i></td>
	  <td><%= link_to 'Show', user_path(user), :class => "btn btn-primary" %></td>
      <td><%= link_to 'Edit', edit_user_path(user), :class => "btn btn-primary" %></td>
	  <td><%= link_to 'Destroy', user_path(user),
                    method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-primary" %></td>
    </tr>
  <% end %>
</table>